@page "/login"

@layout EmptyLayout
@rendermode InteractiveServer

@inject AuthService AuthService
@inject NavigationManager Nav

<h1 class="text-center">Sign in to continue</h1>

<div class="container">
    <input type="text" @bind-value="Email" class="form-control" placeholder="Email" required autofocus/>
    <input type="password" @bind-value="Password" class="form-control" placeholder="Password" required/>
    <button class="btn btn-lg btn-primary btn-block w-100" @onclick="OnLogin">Sign in</button>
</div>

@code {
    private string Email { get; set; }
    private string Password { get; set; }

    private async Task OnLogin()
    {
        var status = await AuthService.Login(Email, Password);
        if (status)
        {
            Nav.NavigateTo("/");
        }
    }

}